$width: 400px;

.AddStudent {
  margin-bottom: 30px;
  width: 400px;

  input {
    width: 10px;
  }

  input[type=submit] {
    width: 383px;
  }


  form {
    display: flex;
    flex-direction: column;
  }

  form input {
    padding: 3px;
    font-size: 16px;
    width: 400px;
  }
  
  .GroupSelect {
    padding: 10px;
    width: 373px;
    color: black;
    background-color: rgb(247, 247, 247);
    font-size: 16px;

    option {
      padding: 20px;
      font-size: 16px;
      height: 10px;
      height: fit-content !important;
    }
  }

}