$width: 400px;

.AddStudent {
  width: 400px;

  input {
    width: 8px;
  }

  input[type=submit] {
    width: 383px;
  }


  form {
    display: flex;
    flex-direction: column;
  }

  form input {
    padding: 3px;
    font-size: 16px;
    width: 373px;
  }

}